In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler, PowerTransformer

from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

import statsmodels.api as sm
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae

In [2]:
data= pd.read_csv("Data_Marketing_Customer_Analysis_Round3.csv")

In [3]:
data=data.drop(columns=["effective_to_date"], axis=1)

In [4]:
X= data.drop(["total_claim_amount"], axis=1)
y= data["total_claim_amount"]

In [5]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y,test_size=0.20, random_state=42)

In [6]:
Xtrain.head()

,region,customer_lifetime_value,response,coverage,education,month,employment_status,gender,income,location_code,...,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
9877,west region,21423,yes,basic,bachelor,jan,unemployed,m,22379,suburban,...,9,31,0,2,corporate auto,corporate l3,offer2,agent,two-door car,medsize
10069,west region,8391,no,premium,high school or below,feb,employed,m,40211,suburban,...,5,98,2,6,personal auto,personal l2,offer1,call center,two-door car,small
10317,central,3969,no,basic,college,feb,employed,f,49544,rural,...,3,29,0,1,personal auto,personal l3,offer1,agent,suv,medsize
9796,west region,14914,no,basic,bachelor,feb,employed,f,45963,suburban,...,3,73,2,2,personal auto,personal l2,offer1,agent,four-door car,medsize
8995,east,18060,no,basic,bachelor,jan,employed,f,57882,suburban,...,1,61,0,2,corporate auto,corporate l3,offer1,web,suv,medsize

## Standardize the data - Train

In [7]:
numerics= Xtrain.select_dtypes(include=np.number)

In [8]:
categoricals= Xtrain.select_dtypes(include=["object"])

In [9]:
numerics_scaled= MinMaxScaler().fit_transform(numerics)

numerics

In [10]:
numerics_scaled

array([[0.26994332, 0.13686365, 0.01687764, ..., 0.31313131, 0.        ,
        0.125     ],
       [0.08976911, 0.33520193, 0.18987342, ..., 0.98989899, 0.4       ,
        0.625     ],
       [0.02863266, 0.4390092 , 0.16877637, ..., 0.29292929, 0.        ,
        0.        ],
       ...,
       [0.0323932 , 0.10855662, 0.01265823, ..., 0.08080808, 0.8       ,
        0.875     ],
       [0.15267524, 0.74505878, 0.18987342, ..., 0.90909091, 0.        ,
        0.125     ],
       [0.06980506, 0.59319074, 0.16455696, ..., 0.54545455, 0.        ,
        0.75      ]])

In [11]:
categoricals_dummies= categoricals.drop(columns= ["coverage", "education"], axis=1)

In [ ]:
categoricals_ordinal= categoricals.drop(columns= categoricals_dummies.columns, axis=1)

In [ ]:
categoricals_ordinal

In [ ]:
categoricals_ordinal["education"].unique()

In [ ]:
categoricals_dummies=pd.get_dummies(categoricals_dummies, drop_first=True)

In [ ]:
categoricals_dummies

In [ ]:
categoricals_ordinal= categoricals_ordinal.replace(["basic", "extended", "premium"],[0,1,2])
categoricals_ordinal= categoricals_ordinal.replace(["high school or below", "college", "bachelor", "master", "doctor"],[0,1,2,3,4])

In [ ]:
categoricals_ordinal

In [ ]:
#df_train=pd.concat([Xtrain, ytrain], axis=1)

In [ ]:
data_train= pd.concat(["numerics_scaled", "categoricals_dummies", "categoricals_ordinal"])